.answer-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-bottom: 10px;
}

.answer-wrap button{
  margin: 5px;
  flex: 45%;
  font-size: smaller;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.wrapper p {
  text-align: left;
}
