.wrapper p {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

.wrapper p label {
  margin-top: 10px;
  padding-right: 20px;
}

.wrapper p code {
  margin-bottom: 10px;
  font-size: 10px;
}

.wrapper p input {
  margin-top: 10px;
  flex-grow: 1;
}

.wrapper p select {
  margin-top: 10px;
  flex-grow: 1;
}