#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  position: fixed;
  left: 0;
  bottom: 0;
  max-height: 50px;
}

.card {
  padding: 2em;
}

.flex-span {
  display: flex;
  justify-content: space-between;
  width: 100%;
}