.answer-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-bottom: 10px;
}

.answer-wrap button {
  margin: 5px;
  flex: 45%;
  font-size: smaller;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.wrapper p {
  text-align: left;
}

.end-modal {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  position: absolute;
  inset: 150px;
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.progress-wrap {
  border-bottom: solid white 2px;
  border-left: solid white 2px;
  border-right: solid white 2px;
  border-radius: 0 0 5px 5px;
}

.progress-wrap .question {
  background-color: gray;
  width: 20px;
  height: 5px;
  margin: 0 3px 3px 3px;
}

.progress-wrap .question.correct {
  background-color: green;
}
.progress-wrap .question.incorrect {
  background-color: red;
}
.correct {
  background-color: green;
}
.incorrect {
  background-color: red;
}